body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-default .container .list-menu .navbar-collapse ul li a{
    color: white;
}

.navbar-default .container .list-menu .navbar-collapse ul li a:hover{
    font-weight: bold;
}

.hamburguesa {
    color: white;
    width: 8em;
    height: 3em;
    border: 1px solid #9b9595;
}

header {
    background: url(../img/bg-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.img-header {
    margin-top: 8em;
}

.img-header img {
    width: 50%;
    max-width: 15em;
}

.flecha {
    width: 45px;
    height: 45px;
    padding-top: 0.6em;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.icon-flecha {
    margin-top: 15em;
}

.flecha:hover {
    cursor: pointer;
}

.rayita {
    border-bottom: 0.5px solid #AE9068;
    padding: 2px;
    width: 155px;
    margin: 0 auto;
}

.parrafocreate {
    padding: 20px;
}

.icon-value {
    font-size: 30px;
}

.content-value {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #333333;
    padding: 17px;
    margin-top: 25px;
}

.robototype {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

.robototypes {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}

section#values li {
    font-style: italic;
    line-height: 1.8em;
}

section#frase {
    background: url(../img/bg-quote.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 9em 0;
    color: #fff;
    height: 100vh;
}

section#frase p {
    font-size: 42px;
    line-height: 1.1em;
}

section#frase .btn-default {
    margin-top: 20px;
    background: none;
    color: white;
    font-weight: bold;
    padding: 0.6em 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    border: 1.5px solid white;
}

section#people {
    background: #F7F7F7;
    padding: 7em 0;
}

footer {
    background: url(../img/bg-footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6em 0;
    color: #aaa;
}